In [9]:
import os 
os.environ['OPENAI_API_KEY'] = "<OPEN AI KEY>"

In [10]:
from langchain_core.prompts import ChatPromptTemplate

template = """
Based on the table schema below, write a SQL query that would answer the user's question.
{schema}

Question: {question}
SQL Query:
"""

prompt = ChatPromptTemplate.from_template(template)

In [11]:
prompt.format(schema="my schema", question="how many users are there?")

"Human: \nBased on the table schema below, write a SQL query that would answer the user's question.\nmy schema\n\nQuestion: how many users are there?\nSQL Query:\n"

In [15]:
from langchain_community.utilities import SQLDatabase

db_uri = "mysql+mysqlconnector://root:password@localhost:3306/chinook"
db = SQLDatabase.from_uri(db_uri)

In [16]:
def get_schema(_):
    return db.get_table_info()

In [17]:
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough
from langchain_openai import ChatOpenAI

llm = ChatOpenAI()

sql_chain = (
    RunnablePassthrough.assign(schema=get_schema)
    | prompt
    | llm.bind(stop="\nSQL Result:")
    | StrOutputParser()
)

In [18]:
sql_chain.invoke({"question": "how many artists are there?"})

'SELECT COUNT(ArtistId) AS TotalArtists FROM artist;'

In [19]:
template = """
Based on the table schema below, question, sql query, and sql response, write a natural language response:
{schema}

Question: {question}
SQL Query: {query}
SQL Response: {response}"""

prompt = ChatPromptTemplate.from_template(template)

In [20]:
def run_query(query):
    return db.run(query)

In [21]:
run_query("SELECT COUNT(ArtistId) AS TotalArtists FROM Artist;")

'[(275,)]'

In [23]:
full_chain = (
  RunnablePassthrough.assign(query=sql_chain).assign(
    schema=get_schema,
    response= lambda vars: run_query(vars["query"])
  )
  | prompt
  | llm
  | StrOutputParser()
)

In [24]:
full_chain.invoke({"question": "how many artists are there?"})

'There are 275 artists in the database.'